<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
              <h3>Fazer uma pergunta</h3>
      </div>
      <div class="card-body">
            <form method="POST" action="/salvarpergunta" >
              <label>titulo</label>
              <br>
              <input type="text" placeholder="digite o titulo da pergunta" class="form-control" name="titulo">
              <br>
              <label>Descricão</label>
              <textarea class="form-control" placeholder="Descreva a sua pergunta" name="descricao"></textarea>
              <br>
              <button class="form-control btn btn-primary col-md-2">Perguntar</button>
          </form>
      </div>
    </div>     
  </div>
</body>
<%- include('partials/footer.ejs') %>
